<h4>Internal server error - refreshing the page will make error disappear!</h4>
<ng-container *ngIf="error">
    <h4 class="text-danger">
        Error: {{error.message}}
    </h4>
    <p class="font-weight-bold">
        Note: If you are seeing this then Angular is probably not to blame
    </p>
    <p>
        What to do next?
    </p>
    <ol>
        <li>Open the chrome dev tools</li>
        <li>Inspect the network tab</li>
        <li>Check the failing request</li>
        <li>Examine the request URL- make sure it is correct</li>
        <li>Reproduce the error in Postman tool - if you see the same response, then issue is not with Anglar</li>
    </ol>
    <p>Following is stack trace. This is where your investigation starts</p>
    <code class="mt-5" style="background-color: whitesmoke;">
        {{error.details}}
    </code>
</ng-container>